@font-face{
  font-family:"Formular";
  src:url(//cdn-s-assets.arzamas.academy/assets/formular-regular-6c1b30654c921ab2e2bfbb90e75e6a67.eot);
  src:
  url(//cdn-s-assets.arzamas.academy/assets/formular-regular-6c1b30654c921ab2e2bfbb90e75e6a67.eot?#iefix) format("embedded-opentype"),
  url(//cdn-s-assets.arzamas.academy/assets/formular-regular-9fd8e1a512bba5925ab27ebee6e78b57.woff) format("woff"),
  url(//cdn-s-assets.arzamas.academy/assets/formular-regular-6692bcac2cb1a573a3a01b42602b3051.ttf) format("truetype"),
  url(//cdn-s-assets.arzamas.academy/assets/formular-regular-91fcf660e29fdb723dbaaaaf6f208bc7.svg#Formular) format("svg");
  font-weight:normal;
  font-style:normal
}

body{
  font-family: 'Formular';
  font-size: 14px;
}

.wrapper__belomor, .wrapper__belomor *, .wrapper__belomor *:before, .wrapper__belomor *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper__belomor{
  position: relative;
  width: 950px;
  margin: 0 auto;
  padding-left: 290px;
}

.wrapper__belomor .map__left{
  position: absolute;
  top: 50px;
  left: 0;

  width: 290px;
  height: 600px;
  background: url('../images/belomor.svg') no-repeat center center #fff;

  -moz-transition: top 0.4s ease;
  -webkit-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
.wrapper__belomor .map__left.map__left_stick{
  position: fixed;
  left: 50%;
  margin-left: -475px;
  top: 100px;
}
.wrapper__belomor .map__left.map__left_stick-disabled{
  position: absolute;
  top: auto;
  left: 0;
  margin-left: 0;
  bottom: 50px;
}

.wrapper__belomor .map__left .map__path{
  position: absolute;
  width: 43px;
  height: 228px;
  background: url('../images/bg-path.svg') no-repeat 0 0 transparent;
  top: 129px;
  left: 90px;
}

.wrapper__belomor .map__left .map__path .path__direction{
  position: absolute;
  left: 0;
  right: 0;
}
.wrapper__belomor .map__left .map__path .path__direction.path__direction_there{
  bottom: 0;
  background: url('../images/bg-path-there.svg') no-repeat bottom center transparent;
  background-size: 100%;
}
.wrapper__belomor .map__left .map__path .path__direction.path__direction_back{
  top: 0;
  background: url('../images/bg-path-back.svg') no-repeat top center transparent;
  background-size: 100%;
}

.wrapper__belomor .map__left .map__points{
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  font-weight: bold;
}
.wrapper__belomor .map__left .map__points .point__item{
  position: absolute;
}

.wrapper__belomor .map__left .map__points .point__item.point__item_1{
  top: 343px;
  left: 58px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_2{
  top: 321px;
  left: 10px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_3{
  top: 222px;
  left: 41px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_4{
  top: 203px;
  left: 23px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_5{
  top: 134px;
  left: 40px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_6{
  top: 111px;
  left: 52px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_7{
  top: 72px;
  left: 174px;
  width: 90px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_8{
  top: 483px;
  left: 130px;
  width: 90px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_9{
  top: 232px;
  left: 133px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_10{
  top: 112px;
  left: 157px;
  width: 90px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_11{
  top: 22px;
  left: 144px;
}

.wrapper__belomor .map__left .map__points .point__item.point__item_locality:after{
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #262626;
  right: -10px;
  bottom: -10px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_locality.point__item_1:after{
  right: -9px;
  bottom: 9px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_locality.point__item_2:after{
  right: 0;
  bottom: -5px;

}
.wrapper__belomor .map__left .map__points .point__item.point__item_locality.point__item_3:after{
  right: -9px;
  bottom: 1px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_locality.point__item_4:after{
  right: -7px;
  bottom: -4px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_locality.point__item_5:after{
  right: 0;
  bottom: -4px;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_locality.point__item_6:after{
  right: -3px;
  bottom: -5px;
}

.wrapper__belomor .map__left .map__points .point__item.point__item_geo{
  font-style: italic;
  color: #fff;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_geo-island{
  font-style: normal;
  color: #262626;
}
.wrapper__belomor .map__left .map__points .point__item.point__item_geo-blue{
  color: #9EC9ED;
}

.wrapper__belomor .belomor__story{
  color: #4c4c4c;
}
.wrapper__belomor .belomor__story .section{
  margin-bottom: 60px;
}
.wrapper__belomor .belomor__story .section:last-child{
  margin-bottom: 0;
}